a img { border-style:none; }

a:link { color:#2D6DAF; }
a:visited { color:#5C6D81; }

body {
    background-color:#e5e5e5; 
    margin:0; /* For IE 4, which doesn't understand wildcard selectors */
    text-align:center; /* For IE <6 which doesn't center #wrapper without it */
    font:normal normal 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}
h1 {
    color:#343434;
    font:bold 15pt Verdana;
}
.StandardButton
{
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: x-small;
	font-family:'trebuchet ms',helvetica,sans-serif;
	color:#050;
	border:1px solid;
	border-top-color:#696;
	border-left-color:#696;
	border-right-color:#363;
	border-bottom-color:#363;
	background-color:#cec;
	filter:progid:DXImageTransform.Microsoft.Gradient(
		GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffaaddaa');
}

p { margin:15px 0; }

#wrapper {
	background:#fff url(wrapper-background.jpg) repeat-y;
	margin:20px auto; /* Doesn't center layout in IE <6; Fix with body { text-align:center } */
	padding:0;
	width:850px;
    text-align:left;
}
#header {
	background:#c3d4e5 url(header-background.jpg);
	width:100%;
	height:75px;
}
#topnav {
	background:transparent url(full-width-horizontal-rule.gif) no-repeat bottom;
    padding:0 10px 4px 2px;
}
.MainMenu_MenuContainer, .MainMenu_MenuContainer .MainMenu_MenuItem, .MainMenu_MenuContainer .MainMenu_MenuItemSel {
	height:22px;
}
.MainMenu_MenuIcon {
}

.MainMenu_MenuItem {
	background:url(topnav-divider-background.gif) repeat-y right;
}
.MainMenu_MenuItemSel {
	background:#E9E9E9 url(topnav-divider-background.gif) repeat-y right;
}
.MainMenu_MenuItem, .MainMenu_MenuItemSel {
	font:normal normal 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.MainMenu_SubMenu .MainMenu_MenuItem, .MainMenu_SubMenu .MainMenu_MenuItemSel {
	background-image:none;
}
#userlogin {
	text-align:right;
}
#userlogin, #userlogin a {
	font:normal normal 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    color:#343434;
}
#userlogin a:hover {
	color:#70a8e0;
}
.content-pane {
	padding:10px 7px 10px 15px;
}
.right-pane {
	padding:10px 18px 10px 7px;
}
.top-pane, .bottom-pane {
	padding:10px 18px 10px 15px;
}
#footer {
	background:transparent url(wrapper-endcap.jpg) no-repeat bottom;
    text-align:center;
}
#footer-content {
	background:transparent url(full-width-horizontal-rule.gif) no-repeat top;
	padding:15px 15px 18px;
	font-size:9pt;
}
.footer-text, .footer-text a {
	font:normal normal 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.footer-text a {
	color:#343434;
}
.footer-text a:hover {
	color:#70a8e0;
}



